.quiz_form{
    /*position: center;*/
    margin: 5% 40% 20% 40%;
    width: 300px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*position: relative;*/
    /*top: 40%;*/
    /*left: 40%;*/
}
fieldset{
    height: 300px;
    padding-left: 20px;
}
.label_quiz{
    margin: 4% 40% 1% 0%;
    font-weight: bold;
    float: left;
}
.id_quiz{
    /*margin: 5% 40% 0 40%;*/
    width: 30%;
    height: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    background: #9AC7DA;
    border: #0A246A 3px;
    border-radius:30px;
    outline: none;
}

.quiz-title{
    /*position: relative;*/
    /*left: 25%;*/
    padding-left: 25%   ;
    /*padding: 1% 25% 1% 25%;*/
    color: #0f3468;
    font-size: 100%;
    font-weight: bolder;
}
.quiz-title-text{
    width: 94%;
    height: 20px;
    margin-bottom: 20px;
}

.quiz-description{
    /*position: relative;*/
    /*left: 15%;*/
    /*padding: 1% 25% 1% 15%;*/
    padding-left: 15%;
    color: #0f3468;
    font-size: 16px;
    font-weight: bolder;
}

.quiz-description-text{
    width: 94%;
    height: 80px;
    margin-bottom: 20px;
}

.save-quiz{
    /*padding: 1% 12% 1% 10%;*/
    height: 40px;
    width: 60%;
    float: left;
    margin-right: 5px;
    font-weight: bolder;
    margin-left: 20%;
    margin-top: 5px;

}

.edit-quiz{
    float: left;
    height: 40px;
    width: 47%;
    font-weight: bolder;
}